<launch>
  
    <arg name="ns" default="none"/>
    <arg name="z" default="0.5"/>

    <node
        name = "$(arg ns)lifter"
        pkg = "move_package"
        type = "liftoff.py"
        args = "$(arg ns) $(arg z)"    
        output = "screen"
    >
    </node>

    <!--Wait for the liftoff to complete before launching avoidance-->
    <arg name="delay" default="3.0" />

    <node
        name="$(arg ns)avoider" 
        pkg="move_package" 
        type="obs_avoid.py"
        args = "$(arg ns) $(arg delay)" 
        output="screen" 
    >
    </node>

</launch>
