<launch>
<param name="/rtabmap/uav1/map_merge/init_pose_x" value="0"/>
<param name="/rtabmap/uav1/map_merge/init_pose_y" value="-0.6"/>
<param name="/rtabmap/uav1/map_merge/init_pose_z" value="0"/>
<param name="/rtabmap/uav1/map_merge/init_pose_yaw" value="0"/>
<param name="/rtabmap/uav2/map_merge/init_pose_x" value="0"/>
<param name="/rtabmap/uav2/map_merge/init_pose_y" value="0.6"/>
<param name="/rtabmap/uav2/map_merge/init_pose_z" value="0"/>
<param name="/rtabmap/uav2/map_merge/init_pose_yaw" value="0"/>
<group ns="map_merge">
  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value=""/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="world"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
</group>
</launch>