<?xml version="1.0"?>

<launch>

  <arg name="use_ground_truth_for_tf" default="true"/>
  <arg name="use_ground_truth_for_control" default="true"/>
  <arg name="use_pose_estimation" if="$(arg use_ground_truth_for_control)" default="false"/>
  <arg name="use_pose_estimation" unless="$(arg use_ground_truth_for_control)" default="true"/>

  <group ns="uav1">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" default="uav1"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_asus_with_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="tf_prefix" default="uav1"/>
      <arg name="x" default="0.0"/>
      <arg name="y" default="-0.6"/>
      <arg name="z" default="0.3"/>   
      <arg name="use_ground_truth_for_tf" value="$(arg use_ground_truth_for_tf)"/>
      <arg name="use_ground_truth_for_control" value="$(arg use_ground_truth_for_control)"/>
      <arg name="use_pose_estimation" value="$(arg use_pose_estimation)"/>
    </include>
  </group>

  <group ns="uav2">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" default="uav2"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_asus_with_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="tf_prefix" default="uav2"/>
      <arg name="x" default="0.0"/>
      <arg name="y" default="0.6"/>
      <arg name="z" default="0.3"/>   
      <arg name="use_ground_truth_for_tf" value="$(arg use_ground_truth_for_tf)"/>
      <arg name="use_ground_truth_for_control" value="$(arg use_ground_truth_for_control)"/>
      <arg name="use_pose_estimation" value="$(arg use_pose_estimation)"/>
    </include>
  </group>

</launch>

